<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>

  <!-- css -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />

</head>
<body>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="/"> Home</a></li>
      <li><a href="/family" >My Family</a></li>
      <li><a href="/Hayden"> Hayden</a></li>
      <li><a href="/Carter">Carter</a></li>
      <li><a href="/Ashley"> Ashley</a></li>
      <li><a href="/Jesse"> Jesse</a></li>

    </ul>
  </nav>